<%# [Topping Selector Component] _%>
<%# Toppings: Object _%>
<%# toIdName: Function _%>
<%# selectedWhole: Array _%>
<%# selectedRight: Array _%>
<%# selectedLeft: Array _%>

    <h3>Select Toppings:</h3>

    <table class="topping-container" style="width: 100%;">
     
      <tr>
      <%_ for (let Topping in Toppings) { _%> 
        <td><span class="lead bold"><%- Topping %></span></td>    
      <%_ } _%>
      </tr>
      <tr>
      <%_ for (let Topping in Toppings) { _%> 
      <%_ const checkedWhole = Toppings[Topping].List.map(a => selectedWhole.find(t => a === t)); _%>
      <%_ const checkedRight = Toppings[Topping].List.map(a => selectedRight.find(t => a === t)); _%>
      <%_ const checkedLeft  = Toppings[Topping].List.map(a => selectedLeft.find(t => a === t)); _%>
        <td>
          <%- include("Tile__Topping", { 
                Toppings: Toppings[Topping].List, 
                type: Topping,
                checkedWhole,
                checkedRight,
                checkedLeft,
          }) _%>
        </td>   
    <%_ } _%>
      </tr>
    </table>