<%# [Order Item Button Component] _%>
<%# Category: String _%>
<%# Item: String _%>
<%# Size: String _%>

<div class="btn btn-lg btn-primary border mt-4 mb-4 display-3">
 <a href="/cart/add?category=<%-cat %>&item=<%-item %>&size=<%- size %>" id="orderButton" >Order Now</a>
 </div>