<%# [Display Added Item Component] _%>
<%# cartItems: Array _%>

  <h1 class="m-4">Item Added</h1>  
  <%- include("Tile__Cart"), { item, idx } %>  
  <div class="button-container">
    <a class="btn btn-lg btn-primary float-left" href="/Menu">Go to Menu</a>
    <a class="btn btn-primary btn-lg float-right" href="/cart">View Cart</a>
  </div>
<br />
