<%# [Header Component] _%>

<%_ const toProperCase = str => str.replace(/\w+/g, txt => `${txt.charAt(0).toUpperCase()}${txt.substr(1).toLowerCase()}`) _%>
<%_ const underscoreToSpaces = str => str.replace(/_/g, " ") _%>
    <nav class="navbar mb-2 p-0 border-bottom navbar-expand-md bg-dark navbar-dark justify-content-center align-items-center">
      <div class="container-fluid justify-content-center">
      <div class="m-4">
       <a href="/cart">
          <i class="fas fa-shopping-cart fa-lg" ></i>
        <%_ if(Cart.length > 0) { %>
          <div class="badge border cartitems"><%- Cart.totalCount _%></div>
          <%_ } _%>
        </a>
        </div>
        <div class="w-50 mx-auto mb-3"  id="logo">
        <h3><a href="/">PizzaPizzaPizza!</a></h3>
        </div>
        <div class="m-4 navbar-toggler border-0" >
        <button type="button" class="navbar-toggler btn btn-dark" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- </div> -->
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li><a href="/">Home</a></li>
          <li><a href="/About">About</a></li>
          <li><a href="/Menu">Menu</a></li>
          <li>
            <a href="#">
              <i class="fab fa-facebook-square fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram fa-lg"></i>
            </a>
          </li>
          
          <li>
           
          </li>
        </ul>
        
      </div>
      </div>
    </nav> 
    
    <div class="content">
    <div style="width: 90%;">
    <% if (Crumbs.length >= 1) { %>
    <div aria-label="breadcrumb">
      <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item m-0 p-0"><a href="/">Home</a></li>
<%_ Crumbs.filter(crumb => !crumb.includes("?") && !crumb == "").forEach((link, i) => { _%>
        <li class="breadcrumb-item m-0 p-0"><a href="/<%- Crumbs.slice(0, i + 1).join("/") %>"><%- toProperCase(underscoreToSpaces(link)) %></a></li>
<%_ }); _%>
      </ol> 
    </div>
    <% } %>
    
    
   
