<div>
    <h1>Our Story</h1>
    <hr />
    <div>
        Lorem ipsum dolor sit amet, consectet adipiscing elit,sed do eiusm por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea sint occaecat cupidatat non proident, sunt in culpa qui officia mollit natoque consequat massa quis enim. Nam quam nunc, blandit vel, ridiculus mus. Donec quam Lorem ipsum dolor sit amet, consectet adipiscing elit,sed do eiusm por incididunt ut labore et dolore magna aliqua.
    </div>

    <h1 class="text-right mr-4">Our Mission</h1>
    <hr />
    
    <div>
        <div>
          <img style="padding: 1em; width: auto; float: right; max-height: 300px" src="/images/guy.jpg" alt="Guy Making Pizza" />  
       
            <p class="p-3" style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectet adipiscing elit,sed do eiusm por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea sint occaecat cupidatat non proident, sunt in culpa qui officia mollit natoque consequat massa quis enim. Nam quam nunc, blandit vel, ridiculus mus. Donec quam Lorem ipsum dolor sit amet, consectet adipiscing elit,sed do eiusm por incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>
    
        <div style="clear: both;">
          <a href='https://www.freepik.com/photos/food'>Food photo created by prostooleh - www.freepik.com</a>
        </div>
    </div>
</div>
