<!DOCTYPE html>
<html lang="en">
<head>
    <title>PizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />    
</head>
<body >
<%- include("header"), { Crumbs } _%>
<div class="container-fluid">
<%- body %>
</div>
<%- include("footer") %>

</body>
</html>
